
.topPanel {
    background-color: #0F172A;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    background-color: #1E293B;
    display: flex;
    align-items: center;
    padding: 5px 16px;
    justify-content: space-between;
}

.link {
    color: white;
}

.linkActive {
    color: white;
    text-decoration: underline;
}

.companyDescription {
    color: #64748B;
    width: 315px;
    font-size: 14px;
    line-height: 17px;
}

.companyLogo {
    height: 40px;
    width: auto;
    display:block
}

.pcOnly {
    display: none;
}

.contactBtn {
    border: none;
    font-size: 14px;
    line-height: 24px;
    background-color: #00A811;
    color: white;
    border-radius: 6px;
    padding: 5.5px 16px;
}

.calcBtn {
    border: none;
    font-size: 14px;
    line-height: 24px;
    background-color: #334155;
    color: white;
    border-radius: 6px;
    padding: 5.5px 16px;
}

.burgerBtn {
    border: none;
    background-color: #1E293B;
}

.number {
    display: flex;
    align-items: center;
}
.number p {
    margin-left: 8px;
}

@media only screen and (min-width: 1440px) {
    .pcOnly {
        display: block;
    }
    .mobile {
        display: none;
    }

    .companyLogo {
        width: 190px;
        height: 55px;
    }
}